In [1]:
import math
import pandas as pd

In [2]:
def bisection_method(a, b, e, function):
    df_method = {
        "i": [],
        "x": [],
        "f(x)": [],
        "[a, b]": [],
        "b - a": []
    }
    
    i = 1

    while abs(b-a) >= e:
        x = (a+b)/2

        f_em_a = function(a)
        f_em_x = function(x)

        if (f_em_a*f_em_x) < 0:
            b = x
        else :
            a = x

        df_method["i"].append(i)
        df_method["x"].append(x)
        df_method["f(x)"].append(f_em_x)
        df_method["[a, b]"].append("{:.7}".format(float(a)) + " ; " + "{:.7}".format(float(b)))
        df_method["b - a"].append(b-a)
        i += 1
        
    return pd.DataFrame(df_method)

In [3]:
e = 0.0001

In [4]:
def fun_exemplo(valor):
    return (3*valor - math.exp(valor))

In [5]:
# Funções do exercício 3 da lista 2 de CN
def fun_ex_a(valor):
    return ((valor**3) - (valor**2) - (valor) - 1)

def fun_ex_b(valor):
    return (valor - math.exp(-valor))

def fun_ex_c(valor):
    return (math.exp(-valor) - math.sin(valor))

def fun_ex_d(valor):
    return ((valor**4) - valor - 1)

In [6]:
def fun_l4_ex_8a(valor):
    return valor - (valor*(math.log(valor)))

In [8]:
bisection_method(2.5, 3, (10**-5), fun_l4_ex_8a)

     i         x      f(x)               [a, b]     b - a
0    1  2.750000 -0.031903           2.5 ; 2.75  0.250000
1    2  2.625000  0.091663         2.625 ; 2.75  0.125000
2    3  2.687500  0.030607        2.6875 ; 2.75  0.062500
3    4  2.718750 -0.000468     2.6875 ; 2.71875  0.031250
4    5  2.703125  0.015114   2.703125 ; 2.71875  0.015625
5    6  2.710938  0.007334   2.710938 ; 2.71875  0.007812
6    7  2.714844  0.003436   2.714844 ; 2.71875  0.003906
7    8  2.716797  0.001485   2.716797 ; 2.71875  0.001953
8    9  2.717773  0.000508   2.717773 ; 2.71875  0.000977
9   10  2.718262  0.000020   2.718262 ; 2.71875  0.000488
10  11  2.718506 -0.000224  2.718262 ; 2.718506  0.000244
11  12  2.718384 -0.000102  2.718262 ; 2.718384  0.000122
12  13  2.718323 -0.000041  2.718262 ; 2.718323  0.000061
13  14  2.718292 -0.000010  2.718262 ; 2.718292  0.000031
14  15  2.718277  0.000005  2.718277 ; 2.718292  0.000015
15  16  2.718285 -0.000003  2.718277 ; 2.718285  0.000008

In [9]:
bisection_method(2.5, 3, (10**-5), fun_l4_ex_8a)

     i         x      f(x)               [a, b]     b - a
0    1  2.750000 -0.031903           2.5 ; 2.75  0.250000
1    2  2.625000  0.091663         2.625 ; 2.75  0.125000
2    3  2.687500  0.030607        2.6875 ; 2.75  0.062500
3    4  2.718750 -0.000468     2.6875 ; 2.71875  0.031250
4    5  2.703125  0.015114   2.703125 ; 2.71875  0.015625
5    6  2.710938  0.007334   2.710938 ; 2.71875  0.007812
6    7  2.714844  0.003436   2.714844 ; 2.71875  0.003906
7    8  2.716797  0.001485   2.716797 ; 2.71875  0.001953
8    9  2.717773  0.000508   2.717773 ; 2.71875  0.000977
9   10  2.718262  0.000020   2.718262 ; 2.71875  0.000488
10  11  2.718506 -0.000224  2.718262 ; 2.718506  0.000244
11  12  2.718384 -0.000102  2.718262 ; 2.718384  0.000122
12  13  2.718323 -0.000041  2.718262 ; 2.718323  0.000061
13  14  2.718292 -0.000010  2.718262 ; 2.718292  0.000031
14  15  2.718277  0.000005  2.718277 ; 2.718292  0.000015
15  16  2.718285 -0.000003  2.718277 ; 2.718285  0.000008

In [10]:
bisection_method(0, 1, 0.0001, fun_ex_b)

     i         x      f(x)                 [a, b]     b - a
0    1  0.500000 -0.106531              0.5 ; 1.0  0.500000
1    2  0.750000  0.277633             0.5 ; 0.75  0.250000
2    3  0.625000  0.089739            0.5 ; 0.625  0.125000
3    4  0.562500 -0.007283         0.5625 ; 0.625  0.062500
4    5  0.593750  0.041498       0.5625 ; 0.59375  0.031250
5    6  0.578125  0.017176      0.5625 ; 0.578125  0.015625
6    7  0.570312  0.004964     0.5625 ; 0.5703125  0.007812
7    8  0.566406 -0.001155  0.5664062 ; 0.5703125  0.003906
8    9  0.568359  0.001905  0.5664062 ; 0.5683594  0.001953
9   10  0.567383  0.000375  0.5664062 ; 0.5673828  0.000977
10  11  0.566895 -0.000390  0.5668945 ; 0.5673828  0.000488
11  12  0.567139 -0.000007  0.5671387 ; 0.5673828  0.000244
12  13  0.567261  0.000184  0.5671387 ; 0.5672607  0.000122
13  14  0.567200  0.000088  0.5671387 ; 0.5671997  0.000061

In [11]:
bisection_method(0.5, 1, 0.0001, fun_ex_c)

     i         x      f(x)                 [a, b]     b - a
0    1  0.750000 -0.209272             0.5 ; 0.75  0.250000
1    2  0.625000 -0.049836            0.5 ; 0.625  0.125000
2    3  0.562500  0.036480         0.5625 ; 0.625  0.062500
3    4  0.593750 -0.007221       0.5625 ; 0.59375  0.031250
4    5  0.578125  0.014495     0.578125 ; 0.59375  0.015625
5    6  0.585938  0.003603    0.5859375 ; 0.59375  0.007812
6    7  0.589844 -0.001817  0.5859375 ; 0.5898438  0.003906
7    8  0.587891  0.000891  0.5878906 ; 0.5898438  0.001953
8    9  0.588867 -0.000464  0.5878906 ; 0.5888672  0.000977
9   10  0.588379  0.000213  0.5883789 ; 0.5888672  0.000488
10  11  0.588623 -0.000125   0.5883789 ; 0.588623  0.000244
11  12  0.588501  0.000044    0.588501 ; 0.588623  0.000122
12  13  0.588562 -0.000041    0.588501 ; 0.588562  0.000061

In [12]:
bisection_method(-1, 0, 0.0001, fun_ex_d)

     i         x      f(x)                   [a, b]     b - a
0    1 -0.500000 -0.437500              -1.0 ; -0.5  0.500000
1    2 -0.750000  0.066406             -0.75 ; -0.5  0.250000
2    3 -0.625000 -0.222412           -0.75 ; -0.625  0.125000
3    4 -0.687500 -0.089096          -0.75 ; -0.6875  0.062500
4    5 -0.718750 -0.014373         -0.75 ; -0.71875  0.031250
5    6 -0.734375  0.025227     -0.734375 ; -0.71875  0.015625
6    7 -0.726562  0.005234    -0.7265625 ; -0.71875  0.007812
7    8 -0.722656 -0.004617  -0.7265625 ; -0.7226562  0.003906
8    9 -0.724609  0.000296  -0.7246094 ; -0.7226562  0.001953
9   10 -0.723633 -0.002164  -0.7246094 ; -0.7236328  0.000977
10  11 -0.724121 -0.000935  -0.7246094 ; -0.7241211  0.000488
11  12 -0.724365 -0.000319  -0.7246094 ; -0.7243652  0.000244
12  13 -0.724487 -0.000012  -0.7246094 ; -0.7244873  0.000122
13  14 -0.724548  0.000142  -0.7245483 ; -0.7244873  0.000061

In [13]:
bisection_method(0, 2, 0.0001, fun_ex_d)

     i         x      f(x)               [a, b]     b - a
0    1  1.000000 -1.000000            1.0 ; 2.0  1.000000
1    2  1.500000  2.562500            1.0 ; 1.5  0.500000
2    3  1.250000  0.191406           1.0 ; 1.25  0.250000
3    4  1.125000 -0.523193         1.125 ; 1.25  0.125000
4    5  1.187500 -0.198959        1.1875 ; 1.25  0.062500
5    6  1.218750 -0.012481       1.21875 ; 1.25  0.031250
6    7  1.234375  0.087231   1.21875 ; 1.234375  0.015625
7    8  1.226562  0.036824   1.21875 ; 1.226562  0.007812
8    9  1.222656  0.012035   1.21875 ; 1.222656  0.003906
9   10  1.220703 -0.000257  1.220703 ; 1.222656  0.001953
10  11  1.221680  0.005880   1.220703 ; 1.22168  0.000977
11  12  1.221191  0.002809  1.220703 ; 1.221191  0.000488
12  13  1.220947  0.001276  1.220703 ; 1.220947  0.000244
13  14  1.220825  0.000509  1.220703 ; 1.220825  0.000122
14  15  1.220764  0.000126  1.220703 ; 1.220764  0.000061

In [14]:
bisection_method(-2, 2, 0.0001, fun_ex_d)

     i         x      f(x)                   [a, b]     b - a
0    1  0.000000 -1.000000               -2.0 ; 0.0  2.000000
1    2 -1.000000  1.000000               -1.0 ; 0.0  1.000000
2    3 -0.500000 -0.437500              -1.0 ; -0.5  0.500000
3    4 -0.750000  0.066406             -0.75 ; -0.5  0.250000
4    5 -0.625000 -0.222412           -0.75 ; -0.625  0.125000
5    6 -0.687500 -0.089096          -0.75 ; -0.6875  0.062500
6    7 -0.718750 -0.014373         -0.75 ; -0.71875  0.031250
7    8 -0.734375  0.025227     -0.734375 ; -0.71875  0.015625
8    9 -0.726562  0.005234    -0.7265625 ; -0.71875  0.007812
9   10 -0.722656 -0.004617  -0.7265625 ; -0.7226562  0.003906
10  11 -0.724609  0.000296  -0.7246094 ; -0.7226562  0.001953
11  12 -0.723633 -0.002164  -0.7246094 ; -0.7236328  0.000977
12  13 -0.724121 -0.000935  -0.7246094 ; -0.7241211  0.000488
13  14 -0.724365 -0.000319  -0.7246094 ; -0.7243652  0.000244
14  15 -0.724487 -0.000012  -0.7246094 ; -0.7244873  0.000122
15  16 -0.724548  0.000142  -0.7245483 ; -0.7244873  0.000061