In [24]:
import math
import pandas as pd
import numpy as np

In [25]:
def fixed_point_iteration(x0, e1, e2, f_x, fi_x):
    # O algoritmo do MPF geral para o Método de Newton só muda na escolha do fi de x
    # Logo, é possível usar esse código tanto para o MPF como para o Método de Newton (o fi não é calculado pelo programa)
    
    df_method = {
        "i": [],
        "x0": [],
        "x1": [],
        "f(x0)": [],
        "f(x1)": [],
        "|x1 - x0|": []
    }
    
    x1 = fi_x(x0)
    fx1 = f_x(x1)
    i = 1
    
    try:
        while True:
            x1 = fi_x(x0)
            fx1 = f_x(x1)

            df_method["i"].append(i)
            df_method["x0"].append(x0)
            df_method["x1"].append(x1)
            df_method["f(x0)"].append("{:.10f}".format(float(f_x(x0))))
            df_method["f(x1)"].append("{:.10f}".format(float(fx1)))
            df_method["|x1 - x0|"].append("{:.5}".format(float(abs(x1-x0))))
            
            if (abs(fx1) <= e1) or (abs(x1 - x0) <= e2):
                break
                
            x0 = x1
            
            i += 1
    except:
        df_method["i"].append(i)
        df_method["x0"].append(x0)
        df_method["x1"].append("erro")
        df_method["f(x0)"].append("erro")
        df_method["f(x1)"].append("erro")
        df_method["|x1 - x0|"].append("erro")
        
    print(df_method)
    
    df_method = pd.DataFrame(df_method)
    df_method.index = np.arange(1, len(df_method) + 1)
    df_method = df_method.drop(columns=["i"])
    
    return df_method

In [26]:
def fun_exemplo(valor):
    return math.tan(valor) - math.exp(valor)

def fun_exemplo_fi(valor):
    return valor - ((math.tan(valor) - math.exp(valor))/((1/(math.cos(valor)**2)) - (math.exp(valor))))

In [27]:
def fun_ex_1a(valor):
    return (valor/2) - math.tan(valor)

def fun_ex_1a_fi(valor):
    return valor - (((valor/2) - math.tan(valor))/((1/2) - (1/(math.cos(valor)**2))))

In [28]:
def fun_ex_2b(valor):
    return (2*math.cos(valor) - (math.exp(valor)/2))

def fun_ex_2b_fi(valor):
    return valor - (fun_ex_2a(valor)/(-2*math.sin(valor) - (math.exp(valor)/2)))

In [29]:
def fun_ex_2c(valor):
    return (valor**5) - 6

def fun_ex_2c_fi(valor):
    return valor - (((valor**5) - 6)/(5*(valor**4)))

In [30]:
def fun_ex_3(valor):
    return ((valor**3) - (2*(valor**2)) - (3*valor) + 10)

def fun_ex_3_fi(valor):
    return valor - (fun_ex_3(valor)/(3*(valor**2) - (6*valor) - 3))

In [31]:
def fun_ex_5a(valor):
    return (math.exp(valor)) - 4*(valor**2)

def fun_ex_5a_fi(valor):
    return (1/2)*(math.exp(valor/2))

In [32]:
def fun_ex_5a(valor):
    return (math.exp(valor)) - 4*(valor**2)

def fun_ex_5a_fi(valor):
    return (1/2)*(math.exp(valor/2))

In [33]:
def fun_ex_5b(valor):
    return (math.exp(valor)) - 4*(valor**2)

def fun_ex_5b_fi(valor):
    return valor - ((math.exp(valor) - (4*(valor**2)))/(math.exp(valor) - (8*valor)))

In [34]:
def fun_ex_6a(valor):
    return math.sin(valor)

def fun_ex_6a_fi(valor):
    return (valor - math.tan(valor))

In [35]:
def fun_ex_6b(valor):
    return math.cos(valor) + 1

def fun_ex_6b_fi(valor):
    return (valor + ((math.cos(valor) + 1)/math.sin(valor)))

In [36]:
def fun_ex_7(valor):
    return valor + math.log(valor)

def fun_ex_7_fi(valor):
    return (valor - ((valor + math.log(valor))/(1 + 1/valor)))

In [37]:
def fun_ex_8b(valor):
    return valor - (valor*math.log(valor))

def fun_ex_8b_fi(valor):
    return valor/(math.log(valor))

In [38]:
def fun_ex_8c(valor):
    return valor - (valor*math.log(valor))

def fun_ex_8c_fi(valor):
    return valor/math.log(valor)

In [39]:
def fun_prova_1(valor):
    return (valor**5) + (valor**4) - 3

def fun_prova_1_der(valor):
    return (5*(valor**4)) + (4*(valor**3))

def fun_prova_1_fi(valor):
    return (valor - (fun_prova_1(valor)/fun_prova_1_der(valor)))

In [40]:
def fun_prova_4(valor):
    return (valor**3) - 2

def fun_prova_4_der(valor):
    return 3*(valor**2)

def fun_prova_4_fi(valor):
    return valor - (fun_prova_4(valor)/fun_prova_4_der(valor))

In [41]:
def fun_prova_5(valor):
    return (valor**3) - (valor**2) - (4*valor) + 5

def fun_prova_5_fi(valor):
    return (valor**3) - (valor**2) - (5*valor) + 5

In [42]:
fixed_point_iteration(1.11111, (10**-4), (10**-4), fun_prova_5, fun_prova_5_fi)

{'i': [1, 2, 3, 4, 5, 6, 7], 'x0': [1.11111, -0.4183774348393694, 6.843614844744535, 244.4680018580887, 14549551.361273259, 3.0799862382759767e+21, 2.921772035409359e+64], 'x1': [-0.4183774348393694, 6.843614844744535, 244.4680018580887, 14549551.361273259, 3.0799862382759767e+21, 2.921772035409359e+64, 'erro'], 'f(x0)': ['0.6927325652', '6.4252374099', '251.3116167028', '14549795.8292751182', '3079986238275991371776.0000000000', '29217720354093589580581089596687768355154426288202038425505759232.0000000000', 'erro'], 'f(x1)': ['6.4252374099', '251.3116167028', '14549795.8292751182', '3079986238275991371776.0000000000', '29217720354093589580581089596687768355154426288202038425505759232.0000000000', '24942442761066610598576274422845914632940248602539723409206878911007725072114372284423828340631006216739924750908773700938480260880120493197143262060039009061580906612148456358746329067487756288.0000000000', 'erro'], '|x1 - x0|': ['1.5295', '7.262', '237.62', '1.4549e+07', '3.08e+21', '2.9218e+64', 'erro']}

,x0,x1,f(x0),f(x1),|x1 - x0|
1,1.111110e+00,-0.418377,0.6927325652,6.4252374099,1.5295
2,-4.183774e-01,6.84361,6.4252374099,251.3116167028,7.262
3,6.843615e+00,244.468,251.3116167028,14549795.8292751182,237.62
4,2.444680e+02,1.45496e+07,14549795.8292751182,3079986238275991371776.0000000000,1.4549e+07
5,1.454955e+07,3.07999e+21,3079986238275991371776.0000000000,2921772035409358958058108959668776835515442628...,3.08e+21
6,3.079986e+21,2.92177e+64,2921772035409358958058108959668776835515442628...,2494244276106661059857627442284591463294024860...,2.9218e+64
7,2.921772e+64,erro,erro,erro,erro

In [43]:
fixed_point_iteration(1, (10**-4), (10**-4), fun_prova_4, fun_prova_4_fi)

{'i': [1, 2, 3], 'x0': [1, 1.3333333333333333, 1.2638888888888888], 'x1': [1.3333333333333333, 1.2638888888888888, 1.259933493449977], 'f(x0)': ['-1.0000000000', '0.3703703704', '0.0189552255'], 'f(x1)': ['0.3703703704', '0.0189552255', '0.0000592593'], '|x1 - x0|': ['0.33333', '0.069444', '0.0039554']}

         x0        x1          f(x0)         f(x1)  |x1 - x0|
1  1.000000  1.333333  -1.0000000000  0.3703703704    0.33333
2  1.333333  1.263889   0.3703703704  0.0189552255   0.069444
3  1.263889  1.259933   0.0189552255  0.0000592593  0.0039554

In [44]:
fixed_point_iteration(1, (10**-5), (10**-5), fun_prova_1, fun_prova_1_fi)

{'i': [1, 2, 3], 'x0': [1, 1.1111111111111112, 1.0945051679586564], 'x1': [1.1111111111111112, 1.0945051679586564, 1.0940422879675877], 'f(x0)': ['-1.0000000000', '0.2176666836', '0.0057489384'], 'f(x1)': ['0.2176666836', '0.0057489384', '0.0000043476'], '|x1 - x0|': ['0.11111', '0.016606', '0.00046288']}

         x0        x1          f(x0)         f(x1)   |x1 - x0|
1  1.000000  1.111111  -1.0000000000  0.2176666836     0.11111
2  1.111111  1.094505   0.2176666836  0.0057489384    0.016606
3  1.094505  1.094042   0.0057489384  0.0000043476  0.00046288

In [22]:
fixed_point_iteration(2.5, (10**-5), (10**-5), fun_ex_8b, fun_ex_8b_fi)

{'i': [1, 2, 3], 'x0': [2.5, 2.7283916698432287, 2.7183005128869113], 'x1': [2.7283916698432287, 2.7183005128869113, 2.7182818285232595], 'f(x0)': ['0.2092731703', '-0.0101286184', '-0.0000186845'], 'f(x1)': ['-0.0101286184', '-0.0000186845', '-0.0000000001'], '|x1 - x0|': ['0.22839', '0.010091', '1.8684e-05']}

         x0        x1          f(x0)          f(x1)   |x1 - x0|
1  2.500000  2.728392   0.2092731703  -0.0101286184     0.22839
2  2.728392  2.718301  -0.0101286184  -0.0000186845    0.010091
3  2.718301  2.718282  -0.0000186845  -0.0000000001  1.8684e-05

In [23]:
fixed_point_iteration(2.5, (10**-5), (10**-5), fun_ex_8c, fun_ex_8c_fi)

{'i': [1, 2, 3], 'x0': [2.5, 2.7283916698432287, 2.7183005128869113], 'x1': [2.7283916698432287, 2.7183005128869113, 2.7182818285232595], 'f(x0)': ['0.2092731703', '-0.0101286184', '-0.0000186845'], 'f(x1)': ['-0.0101286184', '-0.0000186845', '-0.0000000001'], '|x1 - x0|': ['0.22839', '0.010091', '1.8684e-05']}

         x0        x1          f(x0)          f(x1)   |x1 - x0|
1  2.500000  2.728392   0.2092731703  -0.0101286184     0.22839
2  2.728392  2.718301  -0.0101286184  -0.0000186845    0.010091
3  2.718301  2.718282  -0.0000186845  -0.0000000001  1.8684e-05