In [23]:
import math
import pandas as pd
import numpy as np

In [24]:
def newton_method(x0, e1, e2, f_x, fi_x):
    
    df_method = {
        "i": [],
        "x0": [],
        "x1": [],
        "f(x0)": [],
        "f(x1)": [],
        "|x1 - x0|": []
    }
    
    x1 = fi_x(x0)
    fx1 = f_x(x1)
    i = 1
    
    try:
        while True:
            x1 = fi_x(x0)
            fx1 = f_x(x1)

            df_method["i"].append(i)
            df_method["x0"].append(x0)
            df_method["x1"].append(x1)
            df_method["f(x0)"].append("{:.10f}".format(float(f_x(x0))))
            df_method["f(x1)"].append("{:.10f}".format(float(fx1)))
            df_method["|x1 - x0|"].append("{:.5}".format(float(abs(x1-x0))))
            
            if (abs(fx1) <= e1) or (abs(x1 - x0) <= e2):
                break
                
            x0 = x1
            
            i += 1
    except:
        df_method["i"].append(i)
        df_method["x0"].append(x0)
        df_method["x1"].append("erro")
        df_method["f(x0)"].append("erro")
        df_method["f(x1)"].append("erro")
        df_method["|x1 - x0|"].append("erro")
    
    df_method = pd.DataFrame(df_method)
    df_method.index = np.arange(1, len(df_method) + 1)
    df_method = df_method.drop(columns=["i"])
    
    return df_method

In [25]:
def fun_exemplo(valor):
    return math.tan(valor) - math.exp(valor)

def fun_exemplo_fi(valor):
    return valor - ((math.tan(valor) - math.exp(valor))/((1/(math.cos(valor)**2)) - (math.exp(valor))))

In [26]:
def fun_ex_1a(valor):
    return (valor/2) - math.tan(valor)

def fun_ex_1a_fi(valor):
    return valor - (((valor/2) - math.tan(valor))/((1/2) - (1/(math.cos(valor)**2))))

In [27]:
def fun_ex_2b(valor):
    return (2*math.cos(valor) - (math.exp(valor)/2))

def fun_ex_2b_fi(valor):
    return valor - (fun_ex_2a(valor)/(-2*math.sin(valor) - (math.exp(valor)/2)))

In [28]:
def fun_ex_2c(valor):
    return (valor**5) - 6

def fun_ex_2c_fi(valor):
    return valor - (((valor**5) - 6)/(5*(valor**4)))

In [29]:
def fun_ex_3(valor):
    return ((valor**3) - (2*(valor**2)) - (3*valor) + 10)

def fun_ex_3_fi(valor):
    return valor - (fun_ex_3(valor)/(3*(valor**2) - (6*valor) - 3))

In [30]:
def fun_ex_5a(valor):
    return (math.exp(valor)) - 4*(valor**2)

def fun_ex_5a_fi(valor):
    return (1/2)*(math.exp(valor/2))

In [31]:
def fun_ex_5a(valor):
    return (math.exp(valor)) - 4*(valor**2)

def fun_ex_5a_fi(valor):
    return (1/2)*(math.exp(valor/2))

In [32]:
def fun_ex_5b(valor):
    return (math.exp(valor)) - 4*(valor**2)

def fun_ex_5b_fi(valor):
    return valor - ((math.exp(valor) - (4*(valor**2)))/(math.exp(valor) - (8*valor)))

In [33]:
def fun_ex_6a(valor):
    return math.sin(valor)

def fun_ex_6a_fi(valor):
    return (valor - math.tan(valor))

In [34]:
def fun_ex_6b(valor):
    return math.cos(valor) + 1

def fun_ex_6b_fi(valor):
    return (valor + ((math.cos(valor) + 1)/math.sin(valor)))

In [35]:
def fun_ex_7(valor):
    return valor + math.log(valor)

def fun_ex_7_fi(valor):
    return (valor - ((valor + math.log(valor))/(1 + 1/valor)))

In [36]:
def fun_ex_8b(valor):
    return valor - (valor*math.log(valor))

def fun_ex_8b_fi(valor):
    return valor/(math.log(valor))

In [37]:
def fun_ex_8c(valor):
    return valor - (valor*math.log(valor))

def fun_ex_8c_fi(valor):
    return valor/math.log(valor)

In [38]:
newton_method(0.5, 0.0001, 0.0001, fun_ex_7, fun_ex_7_fi)

         x0        x1          f(x0)          f(x1)  |x1 - x0|
1  0.500000  0.564382  -0.1931471806  -0.0076408610   0.064382
2  0.564382  0.567139  -0.0076408610  -0.0000118893  0.0027566

In [39]:
newton_method(3, (10**-7), (10**-7), fun_ex_6a, fun_ex_6a_fi)

         x0        x1          f(x0)          f(x1)   |x1 - x0|
1  3.000000  3.142547   0.1411200081  -0.0009538893     0.14255
2  3.142547  3.141593  -0.0009538893   0.0000000003  0.00095389

In [40]:
newton_method(3, (10**-7), (10**-7), fun_ex_6b, fun_ex_6b_fi)

         x0        x1         f(x0)         f(x1)   |x1 - x0|
1  3.000000  3.070915  0.0100075034  0.0024966368    0.070915
2  3.070915  3.106268  0.0024966368  0.0006238342    0.035354
3  3.106268  3.123932  0.0006238342  0.0001559383    0.017664
4  3.123932  3.132763  0.0001559383  0.0000389833   0.0088304
5  3.132763  3.137178  0.0000389833  0.0000097457    0.004415
6  3.137178  3.139385  0.0000097457  0.0000024364   0.0022075
7  3.139385  3.140489  0.0000024364  0.0000006091   0.0011037
8  3.140489  3.141041  0.0000006091  0.0000001523  0.00055186
9  3.141041  3.141317  0.0000001523  0.0000000381  0.00027593

In [41]:
newton_method(0.5, 0.0001, 0.0001, fun_ex_5a, fun_ex_5a_fi)

         x0        x1         f(x0)         f(x1)   |x1 - x0|
1  0.500000  0.642013  0.6487212707  0.2515805154     0.14201
2  0.642013  0.689257  0.2515805154  0.0919333056    0.047244
3  0.689257  0.705733  0.0919333056  0.0330951943    0.016476
4  0.705733  0.711570  0.0330951943  0.0118578585   0.0058377
5  0.711570  0.713650  0.0118578585  0.0042417683     0.00208
6  0.713650  0.714393  0.0042417683  0.0015164959  0.00074258
7  0.714393  0.714658  0.0015164959  0.0005420607   0.0002653
8  0.714658  0.714753  0.0005420607  0.0001937419  9.4805e-05

In [42]:
newton_method(0.5, 0.0001, 0.0001, fun_ex_5b, fun_ex_5b_fi)

         x0        x1          f(x0)          f(x1)  |x1 - x0|
1  0.500000  0.775901   0.6487212707  -0.2355426536     0.2759
2  0.775901  0.717522  -0.2355426536  -0.0100015577    0.05838
3  0.717522  0.714812  -0.0100015577  -0.0000218554  0.0027098

In [43]:
newton_method(1.9, 0.0001, 0.0001, fun_ex_3, fun_ex_3_fi)

           x0         x1            f(x0)            f(x1)   |x1 - x0|
1    1.900000   3.003361     3.9390000000    10.0404152629      1.1034
2    3.003361   1.341143    10.0404152629     4.7915089564      1.6622
3    1.341143   2.189068     4.7915089564     4.3388125090     0.84792
4    2.189068   4.656609     4.3388125090    53.6361177724      2.4675
5    4.656609   3.084273    53.6361177724    11.0615924685      1.5723
6    3.084273   1.511368    11.0615924685     4.3497466953      1.5729
7    1.511368   2.345370     4.3497466953     4.8636890652       0.834
8    2.345370  10.879118     4.8636890652  1028.2525460662      8.5337
9   10.879118   7.293745  1028.2525460662   269.7391703417      3.5854
10   7.293745   4.903154   269.7391703417    65.0850085915      2.3906
11   4.903154   3.263891    65.0850085915    13.6725321697      1.6393
12   3.263891   1.805581    13.6725321697     3.9494272523      1.4583
13   1.805581   2.779998     3.9494272523     7.6881322600     0.97442
14   2.779998   0.586633     7.6881322600     7.7537084166      2.1934
15   0.586633   1.999639     7.7537084166     3.9996399878       1.413
16   1.999639   3.331892     3.9996399878    14.7903343744      1.3323
17   3.331892   1.897771    14.7903343744     3.9385056252      1.4341
18   1.897771   2.997290     3.9385056252     9.9675356966      1.0995
19   2.997290   1.326989     9.9675356966     4.8339289362      1.6703
20   1.326989   2.178147     4.8339289362     4.3107465328     0.85116
21   2.178147   4.526166     4.3107465328    48.1729956330       2.348
22   4.526166   2.987169    48.1729956330     9.8471743282       1.539
23   2.987169   1.302888     9.8471743282     4.9079750154      1.6843
24   1.302888   2.160210     4.9079750154     4.2669917087     0.85732
25   2.160210   4.335320     4.2669917087    40.8863674636      2.1751
26   4.335320   2.841649    40.8863674636     8.2713386429      1.4937
27   2.841649   0.860494     8.2713386429     6.5747719178      1.9812
28   0.860494   1.967057     6.5747719178     3.9713622396      1.1066
29   1.967057   3.210283     3.9713622396    12.8422206391      1.2432
30   3.210283   1.726670    12.8422206391     4.0050868918      1.4836
31   1.726670   2.633649     4.0050868918     6.4941127914     0.90698
32   2.633649  -0.603000     6.4941127914    10.8625255836      3.2366
33  -0.603000  -6.959702    10.8625255836  -403.1059477745      6.3567
34  -6.959702  -4.769748  -403.1059477745  -129.7058764534        2.19
35  -4.769748  -3.387987  -129.7058764534   -41.6818046171      1.3818
36  -3.387987  -2.582748   -41.6818046171   -12.8213794295     0.80524
37  -2.582748  -2.188344   -12.8213794295    -3.4923224723      0.3944
38  -2.188344  -2.045781    -3.4923224723    -0.7951369676     0.14256
39  -2.045781  -2.009357    -0.7951369676    -0.1597761433    0.036423
40  -2.009357  -2.001810    -0.1597761433    -0.0307891960   0.0075478
41  -2.001810  -2.000346    -0.0307891960    -0.0058779738   0.0014639
42  -2.000346  -2.000066    -0.0058779738    -0.0011201023  0.00027982
43  -2.000066  -2.000013    -0.0011201023    -0.0002133706  5.3335e-05